<div class="py-5 bg-light" id="tratamientos">
  <H2 class="text-info text-center" >TRATAMIENTOS</H2>
  <h3 class="text-danger m-3"></h3>
  <div class="container  wow fadeInLeft">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          
          <div class="card-body">
          <h2 style="font-size: 1.5em">Tratamientos locales</h2>
            <p class="card-text">Algunos tratamientos son locales, lo que significa que tratan el tumor sin afectar al resto del cuerpo.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Mas Información</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          
          <div class="card-body">
          <h2 style="font-size: 1.5em">Tratamientos sistémicos</h2>
            <p class="card-text">Los medicamentos que se usan para tratar el cáncer de seno se consideran terapias sistémicas porque pueden alcanzar las células cancerosas . .</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Mas Información</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
         
          <div class="card-body">
          <h2 style="font-size: 1.5em">Enfoques comunes de tratamiento</h2>
            <p class="card-text">Por lo general, los planes de tratamiento se basan en el tipo de cáncer de seno, su etapa y cualquier situación especial. .</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Mas Información</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
        
          <div class="card-body">
          <h2 style="font-size: 1.5em">¿Quién administra el tratamiento del cáncer de seno?</h2>
            <p class="card-text">Dependiendo de cuáles sean sus opciones de tratamiento, puede que su equipo de profesionales médicos consista de profesionales de distintas áreas de especialidad.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Mas Información</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
         
          <div class="card-body">
          <h2 style="font-size: 1.5em">Decisiones sobre el tratamiento</h2>
            <p class="card-text">Es importante que consulte a su médico sobre todas sus opciones de tratamiento, incluyendo sus objetivos y posibles efectos secundarios.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Mas Información</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          
          <div class="card-body">
          <h2 style="font-size: 1.5em">La decisión de suspender el tratamiento</h2>
            <p class="card-text">Cuando los tratamientos empleados ya no controlan el cáncer, puede ser momento de sopesar los beneficios y los riesgos de continuar.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Mas Información</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
