<div class="row wow fadeInLeft">
  <H2 class="col-12" style="color:aqua;">
    <div class="col-12 text-center py-5">
      CENTROS MEDICOS
    </div>
  </H2>
    <div class="col-12 col-md-6 col-xl-4 card shadow-xl p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info"  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL COREA</h5>
              Av. Viacha Nro 3993 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">horario de apertura 9:00 am</small>
        </div>
      </div>  
    </div>

     <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">POLICONSULTORIO VIRGEN DE COPACABANA</h5>
              Av. Viacha Nro 3993 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">horario de apertura 9:00 am</small>
        </div>
      </div>  
    </div>

    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL VILLA DOLORES</h5>
              Av. Arica # 830 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">Abierto las 24 horas</small>
        </div>
      </div>  
    </div>

    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">CAJA NACIONAL DE SALUD</h5>
              Av. Jorge Carrasco  <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">horario de apertura 8:00 am</small>
        </div>
      </div>  
    </div>

    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL CORAZON DE JESUS</h5>
              Av. Viacha Nro 3993 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">horario de apertura 9:00 am</small>
        </div>
      </div>  
    </div>

    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL BOLIVIANO HOLANDES</h5>
              Av. Satelite calle 6 Nro 3993 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">Abierto las 24 horas</small>
        </div>
      </div>  
    </div>


    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL AGRAMONT</h5>
              Av. Villa Dolores calle 11 Nro 4035 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">Abierto las 24 horas</small>
        </div>
      </div>  
    </div>

    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL COREA</h5>
              Av. Viacha Nro 3993 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">horario de apertura 9:00 am</small>
        </div>
      </div>  
    </div>

    <div class="col-12 col-md-6 col-xl-4 card shadow-md p-3" style="background: rgba(0,0,0,0.0);">
      <div class="card-body text-info "  style="background: rgba(0,0,0,0.8);">
        <div class="card-text row">
          <div class="col-3 col-md-3 pt-2">
            <span class="icon-office" style="font-size: 5em;"></span>
          </div>
          <div class="col-9 col-md-9">
            <div class="mx-3">
              <h5 class="">HOSPITAL CORAZON DE JESUS</h5>
              Av. Viacha Nro 3993 <br>
              <br>
              <span class="icon-phone"></span>Telefono: 2234326  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Ubicacion</button>
          </div>
          <small class="text-muted">horario de apertura 8 9:00 am</small>
        </div>
      </div>  
    </div>
</div> 
